* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Hanson";
  src: url("../src/fonts/Hanson/Hanson-Bold.otf");
}

@font-face {
  font-family: "ArgentumLight";
  src: url("../src/fonts/Argentum/ArgentumSans-Light.ttf");
}

@font-face {
  font-family: "ArgentumExtraLight";
  src: url("../src/fonts/Argentum/ArgentumSans-ExtraLight.ttf");
}

@font-face {
  font-family: "ArgentumMedium";
  src: url("../src/fonts/Argentum/ArgentumSans-MediumItalic.ttf");
}

@font-face {
  font-family: "ArgentumBold";
  src: url("../src/fonts/Argentum/ArgentumSans-Bold.ttf");
}

body {
  background-color: #000000 !important;
}

.pointer {
  cursor: pointer;
}

.p-300 {
  padding-bottom: 300px;
}

.p-200 {
  padding-bottom: 200px;
}

.me-6 {
  margin-right: 5.7rem;
}

.p-6 {
  padding: 6rem;
}

.linea {
  width: 1px;
  height: 38px;
  background-color: white;
}

.ht-100 {
  height: 100vh;
}

.ht-auto {
  height: auto;
}

.div-root {
  background-image: url("./assets/fondo-gen.png") !important;
  background-repeat: no-repeat;
  background-size: contain 120%;
}

.background-info {
  background-image: url("./assets/about/background-about.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.width-img-ig-footer {
  width: 42px;
  height: 42px;
}

.width-img-dc-footer {
  width: 50px;
  height: 50px;
}

.width-img-ig-green {
  width: 52px;
  height: 50px;
}

.width-img-dc-green {
  width: 58px;
  height: 56px;
}

.width-img-ig {
  width: 33px;
  height: 33px;
}

.width-img-dc {
  width: 27px;
  height: 27px;
}

.nav {
  height: auto;
  min-height: 60px;
  background-color: rgba(24, 24, 24, 1);
  border-radius: 25px;
  z-index: 99999999999;
  top: 1.5rem;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.iam {
  font-family: "Hanson";
  font-weight: bold;
  font-size: 88px;
}

.video-title {
  font-family: "Hanson";
  font-size: 48px;
  font-weight: 700;
  line-height: 49.97px;
  text-align: left;
}

.thumnail-title {
  font-family: "Hanson";
  font-size: 48px;
  font-weight: 700;
  line-height: 49.97px;
  text-align: left;
}

.thumnail-txt {
  font-family: "ArgentumLight";
  font-size: 24px;
  font-weight: 300;
  line-height: 27.6px;
  text-align: left;
}

.design-title {
  font-family: "Hanson";
  font-size: 48px;
  font-weight: 700;
  line-height: 49.97px;
  text-align: left;
}

.design-txt {
  font-family: "ArgentumLight";
  font-size: 24px;
  font-weight: 300;
  line-height: 27.6px;
  text-align: left;
}

.contact-text {
  font-family: "ArgentumLight";
  font-size: 32px;
  font-weight: 700;
  line-height: 36.8px;
}

.about-txt {
  font-family: "ArgentumLight";
  font-weight: 300;
  font-size: 24px;
  line-height: 27.6px;
  text-align: right;
}

.work-txt {
  font-family: "ArgentumLight";
  font-size: 24px;
  font-weight: 300;
  line-height: 27.6px;
  text-align: left;
}

.btn-txt {
  font-family: "ArgentumLight" !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 20.7px !important;
  text-align: left !important;
}

.btn-contact {
  width: 441px;
  height: 87px;
  border-radius: 35px;
  opacity: 0px;
}

.btn-contact-text {
  font-family: "ArgentumBold";
  font-size: 36px;
  font-weight: 700;
  line-height: 41.4px;
  text-align: left;
}

.aboutme-txt {
  font-family: "ArgentumLight";
  font-size: 24px;
  font-weight: 300;
  line-height: 27.6px;
  text-align: left;
}

.info-title {
  font-family: "ArgentumLight";
  font-size: 32px;
  font-weight: 300;
  line-height: 36.8px;
  text-align: left;
}

.aboutme-title {
  font-family: "Hanson";
  font-size: 48px;
  font-weight: 700;
  line-height: 49.97px;
  text-align: left;
}

.jm-text {
  font-family: "ArgentumMedium";
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 27.6px;
  text-align: left;
}

.contact-title {
  font-family: "Hanson";
  font-size: 105px;
  font-weight: 700;
}

.logo-about {
  width: 138px;
  height: 42px;
  align-self: flex-end;
}

.photo-about {}

.layers {
  gap: 53px;
}

.icon-social {
  border: 1px solid white;
  border-radius: 35px;
  padding: 15px;
}

.flag {
  width: 24px;
  height: 24px;
}

.link {
  text-decoration: none;
  color: black;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 16px;
}

.gap-4 {
  gap: 24px;
}

.gap-5 {
  gap: 32px;
}

.gap-6 {
  gap: 40px;
}

.gap-7 {
  gap: 64px;
}

.mt-120px {
  margin-top: 120px !important;
}

.mt-20 {
  margin-top: 20px;
}

.ti-30 {
  text-indent: 30px;
}

.tamano-logo {
  width: 132px;
  height: 40px;
}

.ps-6 {
  padding-left: 7.5rem;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-48 {
  font-size: 48px;
}

.fs-40 {
  font-size: 40px;
}

.w-container-landing {
  max-width: 730px;
  width: auto;
}

.fs-24 {
  font-size: 24px;
}

.fs-105 {
  font-size: 105px;
}

.scroll-down {
  position: relative;
  animation-name: entrada;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes entrada {
  0% {
    transform: translateY(-10px);
    filter: opacity(0.1);
  }

  100% {
    transform: translateY(0px);
    filter: opacity(1);
  }
}

.color-green {
  color: rgba(62, 195, 114, 1);
}

.active {
  color: rgba(62, 195, 114, 1) !important;
  position: relative;
}

.background-contact {
  background-image: url(./assets/contact/background-contact.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(62, 195, 114, 1);
}

.hover-active:hover {
  color: rgba(62, 195, 114, 1) !important;
  position: relative;
  transition: 0.5s all ease-in-out;
}

.hover-active:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(62, 195, 114, 1);
  animation: entradaHover 0.5s ease-in-out;
}

.btn-style {
  background-color: rgba(62, 195, 114, 1) !important;
  color: white !important;
}

.btn-style:hover {
  background-color: rgba(62, 195, 114, 1) !important;
  color: white !important;
}

.btn-style:focus {
  background-color: rgba(62, 195, 114, 1) !important;
  color: white !important;
}

@keyframes entradaHover {
  0% {
    left: -50px;
  }

  100% {
    left: 0;
  }
}

.background-work {
  position: relative;
  background-color: rgba(24, 24, 24, 1);
}

.rounded-150-top {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}

.rounded-150-bottom {
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

.tamano-video {
  width: auto;
  max-width: 450px;
  max-height: 310px;
  height: auto;
}

.image-promo {
  width: 100%;
}

.edit {
  max-width: 350px;
  width: auto;
  height: 623px;
}

.proyecto-1 {
  border: 1px solid transparent;
  position: relative;
  transition: 0.5s ease-in-out all;
  overflow: hidden;
}

.proyecto-1:hover {
  border: 1px solid rgba(62, 195, 114, 1);
}

.proyecto-1:hover::after {
  content: "Arco | Japanese |\A Restaurant.";
  color: white;
  position: absolute;
  bottom: 60px;
  left: 60px;
  z-index: 100;
  font-size: 40px;
  white-space: pre;
  animation: bottomTitle 1000ms ease;
}

.proyecto-1:hover::before {
  content: "Logo & Brand identity";
  color: rgba(62, 195, 114, 1);
  position: absolute;
  bottom: 30px;
  left: 60px;
  z-index: 100;
  font-size: 20px;
  animation: bottomParrafo 1000ms ease;
}

@keyframes bottomTitle {
  from {
    bottom: -80px;
  }

  to {
    bottom: 60px;
  }
}

@keyframes bottomParrafo {
  from {
    bottom: -110px;
  }

  to {
    bottom: 30px;
  }
}

.zindexModal {
  z-index: 9999999999 !important;
}

.b-black {
  background-color: #000000 !important;
}

.b-white {
  background-color: #222222 !important;
}

.border-top-modal {
  border-top: 1px solid rgba(62, 195, 114, 1) !important;
}

.border-bottom-modal {
  border-bottom: 1px solid rgba(62, 195, 114, 1) !important;
}

.img-card {
  transition: 500ms ease all;
}

.img-card:hover {
  filter: opacity(0.7) blur(1px);
  transform: scale(1.1);
}

.custom-close {
  color: white !important;
  opacity: 1;
}

.input-contact {
  background: transparent;
  color: white;
}

.h-text-area {
  height: 150px;
  resize: none;
}

.fs-105 {
  font-size: 105px;
}

.tamano-menu {
  font-size: 45px;
}

@media screen and (max-width:560px) {
  .contact-title {
    font-size: 55px;
  }
}